<!DOCTYPE html>
<html lang="en">
<head>
<meta charset = "UTF-8" />
<meta name = "viewport" content "width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>Register Now</title>
</head>
<body>
<h1>Kindly Register Now </h1>
<label for="fname">First name:</label><br>
<input type="text" id="fname" name="fname"><br>
<label for="lname">Last name:</label><br>
<input type="text" id="lname" name="lname"><br>
<label for="email">Email:</label><br>
<input type="email" id="email" name="email"><br>
<label for="pword">Password:</label><br>
<input type="password" id="pword" name="pword"><br><br>
<input type="submit" value="Register Now">
<input type="reset" value="Reset Now">
</form>
</body>
</html>